services:
    # default configuration for services in *this* file
    _defaults:
        autowire: true      # Automatically injects dependencies in your services.
        autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.

    Xhgui\Profiler\:
        resource: '%kernel.project_dir%/vendor/perftools/php-profiler/src'

    AEATech\SnapshotProfilerXhprof\:
        resource: '%kernel.project_dir%/vendor/aeatech/snapshot-profiler-xhprof/src/AEATech/SnapshotProfilerXhprof'

    AEATech\SnapshotProfiler\:
        resource: '%kernel.project_dir%/vendor/aeatech/snapshot-profiler/src/AEATech/SnapshotProfiler'

    AEATech\WebSnapshotProfilerEventSubscriber\:
        resource: '%kernel.project_dir%/vendor/aeatech/web-snapshot-profiler-event-subscriber/src/AEATech/WebSnapshotProfilerEventSubscriber'
    
    aea_tech_web_snapshot_profiler_xhprof.request_param_aware.route_event_matcher:
        class: AEATech\WebSnapshotProfilerEventSubscriber\EventMatcher\RouteEventMatcher

    AEATech\WebSnapshotProfilerEventSubscriber\EventMatcher\RequestParamAwareRouteEventMatcher:
        arguments:
            $routeEventMatcher: '@aea_tech_web_snapshot_profiler_xhprof.request_param_aware.route_event_matcher'

    AEATech\WebSnapshotProfilerEventSubscriber\EventMatcher\EventMatcher:
        arguments:
            $eventMatchers: !tagged_iterator aeatech_web_snapshot_profiler_xhprof.event_matcher

    AEATech\WebSnapshotProfilerXhprofBundle\OptionsFactory: ~
    AEATech\WebSnapshotProfilerEventSubscriber\OptionsFactoryInterface: '@AEATech\WebSnapshotProfilerXhprofBundle\OptionsFactory'

    AEATech\SnapshotProfilerContracts\ProfilerInterface: '@AEATech\SnapshotProfiler\Profiler'
    AEATech\SnapshotProfilerContracts\FilterInterface: '@AEATech\SnapshotProfilerXhprof\Filter'
    AEATech\SnapshotProfilerContracts\SaverInterface: '@AEATech\SnapshotProfilerXhprof\Saver'
    AEATech\SnapshotProfilerContracts\AdapterInterface: '@AEATech\SnapshotProfilerXhprof\Adapter'